body {
    display: grid;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    grid-template: 1fr 4fr / 1fr 4fr;
}
.sideBar{
    grid-row: 1/ span 2;
 background-color: #fed9b7;
}

.main {
    background-color: #dfffff;
}
/* side bar */
.logo{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    gap: 1rem;
}
.logo img {
    height: 4rem;
    padding-top: 1rem;
}
.sideBar ul li {
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}
.sideBar ul li img {
    height: 2.5rem;
    padding-top: 1rem;
}
a {
    color: inherit;
    text-decoration: none;
}
/* header */
.headerBar {
    background-color: #fdfcdc;
    margin: 0;
    grid-row: 1/ span 1;
    display: grid;
    grid-template: auto 1fr/2fr 1fr;
    padding: 0 1vw;
}
.userProfilePic {
    width: 4vw;
    border-radius: 50%;
}
.smallerUserProfilePic{
    width: 3vw;
    border-radius: 50%;
}
.userName {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2rem;
    margin: 0;
}
.welcomeUser{
    margin: 0;
}
.wrapper {
    display: flex;
    align-items: center;
    gap: 1vw;
    padding-top: 1vh;
    padding-left: 1vw;
}
.wordWrapper{
    display: flex;
    flex-direction: column;
}

.searchBar{
    background-color: grey;
    border: 4px solid grey;
    width: 35vw;
    border-radius: 20px;
}
button {
    cursor: pointer;
    color: white;
    background-color: #00afb9;
    border: none;
    width: 5vw;
    height: 4vh;
    font-weight: bold;
    border-radius: 20px;
    font-size: 1rem;
}
/* main content */
.main {
    padding-left: 1vw;
    display: grid;
    grid-template: 1fr 1fr/ 3fr 1fr;
}
.projectGridWrapper {
    grid-row: 1/ span 2;
}
.projectLayout{
    display: grid;
    grid-template: auto 1fr/ 1fr 1fr;
}
.projectContainer {
    background-color: #fffff5;
    border: 4px solid #fffff5;
    border-radius: 20px;
}
.projectImgWrapper{
    display: flex;
    justify-content: end;
}